body {
  background-color:#354152;
  color:#7e8ba3;
  font: 300;
  height: 80%;
  width: 450px;
  margin-top: 1%;
  font-family: sans-serif;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  
}

@media screen and (max-width: 800px) {
  body {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    margin: 0%;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

.login{
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem;
  opacity: 1;
  align-items: center;
  color:#7e8ba3;
  min-width: 450px;
}

.signup{
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem;
  opacity: 1;
  align-items: center;
  color:#7e8ba3;
  min-width: 450px;
}

.signin_out_btn{
	background-color: #354152;
	border: none;
	color:#7e8ba3;
	font-size: 1.4rem;
}

.button{
	border: 1px solid #242c37;
    border-radius: 999px;
	font-size: 1.1rem;
	background-color: transparent;
    text-align: center;
    background-image: linear-gradient(160deg, #FFD43D 0%, #907822 100%);
	padding: 15px;
	margin: 20px;
	opacity:1;
	width: 60%;
}

.textbox{
	
	border: 3px solid #242c37;
    border-radius: 999px;
	font-size: 1.3rem;
	background-color: #354152;
	opacity: 1;
    text-align: center;
    background-position: 1rem 50%;
	padding: 10px;
	margin: 10px;
	opacity:1;
	width: 80%;
	align:center;
}
.reg_btn:hover{
	text-decoration:underline;
}


.checkbox{
	background-color: #354152;
}


