@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*menu button*/
.btn{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
/*onclick*/
.btn.click{
  left: 260px;
}
/*btn > span*/
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
/* x */
.btn.click span:before{
  content: '\f00d';
}
/*USRBTN*/
.usrbtn{
  position: absolute;
  top: 15px;
  right: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: right 0.4s ease;
}
.usrbtn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.usrbtn.click{
  right: 260px;
}
.usrbtn.click span:before{
  content: '\f00d';
}

/* side menu nav */
.userdata{
  position: fixed;
  width: 250px;
  height: 100%;
  right: -250px;
  background: #1b1b1b;
  transition: right 0.4s ease;
}
/*when show class en*/
.userdata.show{
  right: 0px;
}
/*text inside sidebar*/
.userdata .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
.userdata ul li {
  border:0px;
}
.userdata ul li:last-child{
  border:0px;
}
/* side menu nav */
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
/*when show class en*/
.sidebar.show{
  left: 0px;
}
/*text inside sidebar*/
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
/* first level ul*/
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
/*link in first level ul li*/
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
nav ul li a:hover{
  color:cyan;
  background: #1e1e1e;
}
/*second level ul*/
nav ul ul{
  position: static;
  display: none;
}
nav ul .subject-list.show{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 50px;
  display:inline;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li:hover a{
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul ul li:hover {
  background: #1e1e1e!important;
  cursor: pointer;
}
/*span triangle*/
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
/*content on page*/
.content{
  background-image: url("../images/hatter.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  text-align: center;
}
.content .header{
  //background: rgba(27,27,27,0.7);
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: cyan;
  z-index: -1;
  text-align: center;
  font-size: 40px;
}
.content iframe{
  display: none;
  background-color: red;
  height = 100%;
  width = 100%;
  border:0;
}
.content form{
  background-image: url("../images/hatter.jpg");
  max-width:500px;
  min-width:400px;
  padding:30px;
  border:2px solid cyan;
  -webkit-box-shadow: 0px 0px 15px cyan;
  text-align:center;
  background: rgba(27,27,27,0.7);
  color: white;
  font-style:italic;
  font-weight:bold;
  z-index:1;
  border-radius:10px;
  display: none;
  position: absolute;
	left: 0;
	right: 0;
  margin:auto;
}
.content form input:hover{
  -webkit-box-shadow: 0 0 10px cyan;
}
.content form input:focus{
  -webkit-transform:scale(1.1);
}
.content form .submit{
  border: 0;
  padding: 10px;
  background: cyan;
  display:block;
  margin:auto;
}
.content form .submit:active{
  border: 0;
  padding: 10px;
  background: #1b1b1b;
}

.dropzone {
  text-align:center;
  font-size: 12px;
  font-style: italic;
  width: 100%
  height: 30px;
  color: #999;
  border: 0.1px dashed transparent;
  line-height: inherit;
  overflow: hidden;
}
.dropzone.dragover {
  border: 0.1px dashed white;
  color:transparent;
}
.dropzone:hover {
  border: 0.1px dashed white;
  cursor:pointer;
}
.dropzone:hover label {
  font-size: 15px;
  transition-duration: 0.5s;
}
.delbtn {
  display:inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #f1f1f1;
  float:right;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;

}
.delbtn:hover {
  color:red;
  left:100%;
  border:0.3px solid red;
}
.box_file {
  display: none;
}
label{
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor:pointer;
    background: inherit;
    border:0px;
    color:inherit;
}
.form-btns{
  display: none;
}
.form-btns.submit-show  {
  display:block;
}
.subm-btn {
  font-weight: bold;
  background: inherit;
  shadow: 0px;
  border:0px;
  padding: 0px;
  display: inline;
  float:left;
  color:white;
  height:42px;
  font-size: 15px;
  width: 50%;
  margin:auto;
}
.subm-btn:hover{
  color:cyan;
  border:1px red;
  cursor:pointer;
}
.reset {
  float:right;
}
.reset:hover {
  float:right;
  color:red;
  border:0.5px red;
}

.textbox{
  text-align: center;
	width:90%;
	margin:auto;
	padding:5px;
	background:#333;
	border: 1px solid white;
	border-radius:5px;
	color:white;
	transition:0.3s;
}
.textbox:hover{
	border:1px solid cyan;
	border-radius:5px;
	-webkit-transform:scale(1.03);
	opacity:1;
}
.lbl.textbox:hover {
  cursor: not-allowed;
  -webkit-transform:scale(1);
  border:1px solid white;
}
.textbox:focus{
	border:1px solid cyan;
  background: #eee;
  color:black;
	border-radius:5px;
	-webkit-transform:scale(1.1);
	opacity:1;
}
.labelforfile{
  display: block;
  min-height: 100%;
  height: 100%;
}
.ut {
  display:block;
}
.labels {
  color: white;
  padding-left: 10px;
}
.usrform {
  display: none;
}


.userbutton {
  cursor: pointer;
  border-left: 0px solid transparent;
}
.userbutton.del:hover {
  color: red;
  cursor: pointer;
}
.userbutton.logout {
  position: absolute;
  width: 100%;
  bottom: 10px;
  cursor: pointer;
}
.newsubj {
  width:80%;
  margin-left: 12px;
}
input, button, submit { border:none; }

.plusbutton {
  background: inherit;
  border: 0px;
  display:inline-block;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  float:right;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  height: 100%;
}
.plusbutton:hover {
  color:green;
  left:100%;
  border:0.3px solid green;
}
