<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
  <head>
    <meta charset="utf-8">
    <title>BMEnotes</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  </head>
  <body>

    <div class="btn">
      <span class="fas fa-bars"></span>
    </div>

    <div class="usrbtn">
      <span class="fas fa-user" ></span>
    </div>


<!-- USER FORM -->
    <nav class="userdata">
      <div class="text"><span class="fas fa-user"></span> User related</div>
        <div class="usercurrentdata" id="usercurrentdata">
          <ul>
            <li>
              <div class="labels">Username:</div>
              <label  class="ut textbox lbl" th:text="${#authentication.getPrincipal().getUsername()}"> usrname </label>
            </li>
            <li>
              <div class="labels">Email:</div>
              <label  class="ut textbox lbl" th:text="${user?.getEmail()}"> email </label>
            </li>
           
            <li id="edit"><a class="userbutton" > edit user </a></li>
            <li><a class="userbutton del"> delete user </a></li>
            <li><a class="userbutton  logout" href="logout"> logout </a></li>
          </ul>
        </div>

      <form id="usrform" class="usrform" action="index.html" method="post">
        <ul>
          <li>
            <div class="labels">Username:</div>
            <input type="text" class="ut textbox" name="" value="" placeholder="currentUserName">
          </li>
          <li>
            <div class="labels">Email:</div>
            <input type="text" class="ut textbox" name="" value="" placeholder="currentEmail">
          </li>
          <li>
            <div class="labels">New password:</div>
            <input type="password" class="ut textbox" name="" value="" placeholder="****">
          </li>
          <li>
            <div class="labels">New password again:</div>
            <input type="password" class="ut textbox" name="" value="" placeholder="****">
          </li>
          <li>
            <div class="labels">Current password</div>
            <input type="password" class="ut textbox" name="" value="" placeholder="****">
          </li>
          <li>
            <div class ="form-btns ut">
              <br>
              <input type="submit" class="subm-btn ut" value="Change">
              <input id="cancelEdit" type="reset" class="subm-btn reset ut" value="Cancel">
            </div>
          </li>
        </ul>
      </form>
    </nav>







<!-- SIDE MENU -->
<nav class="sidebar">
  <div class="text"><span class="fas fa-bars"> </span>Menu</div>

  <ul>
    <li >
      <a class="subject-btn" href="#" >Subject 1 <span class="fas fa-caret-down"></a>
      <ul class="subject-list">
        <li><a href="www.youtube.com" target="iframe">Youtube</a> <span class="delbtn" title="delete file"> X </span></li>
        <li><a href="#">Material 2</a><span class="delbtn" title="delete file"> X </span></li>
        <form id="dropzoneID" class="dropzone" action="index.html" method="post">
          <input type="file" name="file" id="file" class="box_file">
          <label class="labelforfile" for="file"><strong>Drop file here, or click to add</strong></label>
          <div class ="form-btns">
            <input type="text" name="filename" id="filename" class="textbox" placeholder="Material name">
            <input type="submit" class="subm-btn" value="Upload">
            <input type="reset" class="subm-btn reset" value="Delete">
          </div>
        </form>
      </ul>
    </li>
		
    <li th:each="subject : ${subjects}" th:object="${subject}">
      <a  class="subject-btn" href="#" th:text="*{subjectname}">Subject 2<span class="fas fa-caret-down"></span></a>
          <ul class="subject-list">
            <li><a href="#">Material 1</a><span class="delbtn" title="delete file"> X </span></li>
            <li><a href="#">Material 2</a><span class="delbtn" title="delete file"> X </span></li>

              <form id="dropzoneID" class="dropzone" action="index.html" method="post">
                <input type="file" name="file" id="file" class="box_file">
                <label class="labelforfile" for="file"><strong>Drop file here, or click to add</strong></label>
                <div class ="form-btns">
                  <input type="text" name="filename" id="filename" class="textbox" placeholder="Material name">
                  <input type="submit" class="subm-btn" value="Upload">
                  <input type="reset" class="subm-btn reset" value="Delete">
                </div>
              </form>
          </ul>
    </li>
    <li>

        <form class="" th:action="@{/addsubject}" th:object="${subject}" method="post">
         <input type="text" th:name="subjectname" id="subjectname" class="textbox newsubj" placeholder="New subject" >
         <input type="submit" class="plusbutton" value="+">
        </form>

    </li>
  </ul>
</nav>

<!-- CONTENT -->
<div class="content">
  <div class="header">Welcome to BMEnotes</div>
  <iframe id='iframe'></iframe>
  <form class="form" method="post">
    <input type="text" placeholder="subject name">
    <div id="dropzoneID" class="dropzone dz-clickable">
    </div>
    <br><br>
    <input type="submit" class="submit" value="create">
  </form>
</div>



<script>
$(document).ready(function(){
  $(".newsubj").show();
//toggle menu button
    $('.btn').click(function(){
      $(this).toggleClass("click");
      $('.sidebar').toggleClass("show");
    });
//toggle menu button
    $('.usrbtn').click(function(){
      $(this).toggleClass("click");
      $('.userdata').toggleClass("show");
    });
//subject button
    $('.subject-btn').click(function(){
      $(this).siblings(".subject-list").toggleClass("show");
      $(this).children(".fas").toggleClass("rotate");
      if ($(this).parents().siblings().children(".subject-list").hasClass("show"))
      {
        $(this).parents().siblings().children(".subject-list").removeClass("show");
        $(this).parents().siblings().children(".subject-btn").children(".fas").toggleClass("rotate");
      }

      $label.text("Drop file here, or click to add");
      $(".form-btns").removeClass("submit-show");
      $label.show();
    });
//active subject button toggle
    $('nav ul li').click(function(){
      $(this).addClass("active").siblings().removeClass("active");
    });

//add subject form visible
  $(".newsubj-btn").click(function(){
    $(".btn").toggleClass("click");
    $('.sidebar').toggleClass("show");
    $(".header").hide();
    $(".form").show();
  });

//activate iframe
  $('nav ul ul li').click(function(){
    $(this).addClass("active").siblings().removeClass("active");
    $(".header").hide();
    $("#iframe").show();
  });

//user animation
  $("#edit").click(function(){
    $(".usercurrentdata").hide();
    $(".usrform").show();
  });

  $("#cancelEdit").click(function(){
    $(".usercurrentdata").show();
    $(".usrform").hide();
  });
  
//footer
  $(".footer-distributed").hide();
  $(".footer-btn_down").hide();
  $(".footer_btn_up").click(function(){
  	$(".footer-distributed").show();
  });
  $(".footer_btn_down").click(function(){
	$(".footer-distributed").hide();
  });

//dragNdrop

var droppedFile = false;
var $input    = $("form").find('input[type="file"]'),
    $label    = $("form").find('label'),

showFiles = function(files) {
      $(".textbox").text(files[ 0 ].name);
      $label.hide();
      $(".from-btns").addClass("submit-show");
};


$(document).on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
    e.preventDefault();
    e.stopPropagation();
});


$('.dropzone').on('dragover', function(){
      $(this).addClass('dragover');
      console.log("drag");
   })
   .on('dragleave', function(){
      $(this).removeClass('dragover');
      console.log("dragleave");

   })
   .on('drop',function(){
     $(this).removeClass('dragover');
     console.log("drop");
   })
   .on('drop', function(e) {
     droppedFiles = e.originalEvent.dataTransfer.files;
     showFiles( droppedFiles );
     $(".form-btns").addClass("submit-show");
  }).on('change', function(e){
    var i = event.srcElement;
    showFiles(i.files);
    $(".form-btns").addClass("submit-show");
  });

$(".reset").click(function(){
  $label.text("Drop file here, or click to add");
  $(".form-btns").removeClass("submit-show");
  $label.show();
  $(form).reset();
});



});
    </script>
    
    <!-- HEADER BUTTONS-------------- -->
	<div class="hdr">
		<button class="header_btn">Explore courses</button>
		<button class="header_btn">Learning buddies</button>
		<button class="header_btn">Test your knowledge</button>
		<button class="header_btn">Events</button>
	</div>

<!-- FOOTERBUTTON -->
   <div class="footer_arrows">
		<div class="fas fa-caret-up footer_btn_up"></div>
    	<div><h2>More Info</h2></div>
    	<div class="fas fa-sort-down footer_btn_down"></div>    
	</div>
  <!-- Site footer -->
   <footer class="footer-distributed">
   	<div class="footer_arrows_in">
		<div class="fas fa-caret-up footer_btn_up"></div>
    	<div><h2>More Info</h2></div>
    	<div class="fas fa-sort-down footer_btn_down"></div>    
	</div>
			<div class="footer-left">
				<p class="footer-links">
					<a href="#" class="link-1">Home</a>				
					<a href="#">About</a>					
					<a href="#">Contact</a>
				</p>
				<p class="footer-company-name">BMEnotes © 2020</p>
			</div>			
			<div class="footer-center">
				<div>
					<i class="fas fa-map-marker-alt"></i>
					<p><span>Műegyetem rkp. 9</span> Budapest 1111</p>
				</div>
				<div>
					<i class="fas fa-phone"></i>
					<p>+36 1 463 2551</p>
				</div>
				<!--  <div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">supportt@bmenotes.com</a></p>
				</div> -->
			</div>
			<div class="footer-right">
				 <p class="footer-company-about">
					<span>About us</span>
					<!-- Push yourself because, no one else is doing it for you.-->
				</p>
				<div class="footer-icons">
					<a href="https://www.facebook.com/BMEVIK/"><i class="fa fa-user-friends" ></i></a>
					<a href="https://twitter.com/bmevik"><i class="fa fa-dove"></i></a>
					<a href="https://www.linkedin.com/school/budapest-university-of-technology-and-economics/"><i class="fa fa-link"></i></a>
					<a href="https://gitlab.com/mcserni/bmenotes"><i class="fa fa-cat"></i></a>
				</div>
			</div>
		</footer>
  </body>  
</html>
