<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
    <head>
        <title>BMEnotes Log in </title>
        <link rel="stylesheet" type = "text/css" href="../../webapp/css/mainCSS.css">
    </head>
    <body>
        <div>
  			<h2>Input Form</h2>
		</div>
        
        <form th:action="@{/login}" method="post">
            <p><label>Username</label>
            	<input type="text" name="username"/>
            </p>
             <p>
             	<label>Password</label>
            	<input type="password" name="password"/>
            </p>
            <p>
				<button>Sign in</button>
			</p>
        </form>
        <div>
        	<p><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRF1P0aNdWTWw-WWxUT3gCaSyRaLNyj0JLkQ&usqp=CAU">Forgot your password? </a>
        	</p>
        </div>
        <div>
        	<p><a href="/signup">Register now!</a>
        	</p>
        </div>
         <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been successfully logged out.
        </div>
    </body>
</html>